<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <div class="card bg-primary rounded-0">
        <div class="card-body">
          <h5 class="card-title">Mantente informado sobre nuestros proyectos y suscríbete a nuestro canal de noticias.</h5>
          <div class="form-group">
            <label for="exampleFormControlInput1 mb-2">Correo electrónico:</label>
            <input type="email" class="form-control mb-2" id="exampleFormControlInput1" placeholder="nombre@example.com">
            <button type="submit" class="btn btn-success mb-2">Suscribirme al boletín</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-primary rounded-0">
        <div class="card-body">
          <h5 class="card-title">Haz click para comunicarte con nosotros en vivo.</h5>
          <div class="form-group">
            <label for="exampleFormControlInput1 mb-2">Correo electrónico:</label>
            <input type="email" class="form-control mb-2" id="exampleFormControlInput1" placeholder="nombre@example.com">
            <button type="submit" class="btn btn-success mb-2">Suscribirme al boletín</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="contacto" class="container-fluid bg-primary">
  <h2 class="text-center">CONTACTO</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contáctenos y le responderemos dentro de las 24 horas.</p>
        <p><i class="material-icons">location_on</i> Santo Domingo, RD</p>
        <p><i class="material-icons">phone</i> (809) 530-7149</p>
        <p><i class="material-icons">email</i> constructoramejiapolanco@hotmail.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comentar" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-success pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>